*.bak
**/db
**/incremental_db
*.asm.rpt
*.done
*.fit.rpt
*.fit.smsg
*.fit.summary
*.flow.rpt
*.jdi
*.map.rpt
*.map.smsg
*.map.summary
*.pin
*.sld
*.sof
*.sta.rpt
*.sta.summary
*.qws
node_modules/
*.stp

I2C_Controller.v
decode_WII.v
